/* .GlobalRates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0.2vmax auto;
  background-color: #006400;
  font-family: "Noto Nastaliq Urdu";
  color: white;
  font-size: 0.7vmax;
  padding: 0.2vmax 0.5vmax;
  border-radius: 2vmax;
} */
