.expense {
  height: 100%;
  padding-top: 10px;
}

.expense.theme-blue .productActivity-Heading-container {
  display: flex; /* Display h3 and h5 in a row */
  flex-direction: row; /* Align h3 and h5 vertically */
  margin-top: 30px;
  color: #ffffff;
}

.expense.theme-blue .productActivity-Heading-container h3 {
  line-height: 1.3;
  margin-left: 100px;
  font: #ffffff;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}

.expense.theme-blue .react-datepicker-wrapper {
  margin-left: 20px;
}

.expense.theme-blue .productActivityFormInput {
  background-color: #ffffff;
  padding: 20px;
  width: 188vh;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: fit-content;
  margin-left: 100px;
  margin-right: 200px;
  /* margin-top: 50px; */
}

.expense.theme-blue .productActivityRow {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 0; /* Adjust the spacing between rows as needed */
}

.expense.theme-blue .productActivityRow input {
  width: fit-content; /* Adjust the width of each input field as needed */
  /* padding: 10px; */
  border: 1px solid #ccc;
  /* margin-bottom: 10px; */
  margin: 0 20px 0 0;
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.expense.theme-blue .productActivityform1 {
  display: flex;
  flex-direction: column;
  margin: 0 0px 10px 0;
  width: 60%;
}

.expense.theme-blue .productActivityLabel {
  margin-left: 20px;
}

.expense.theme-blue .productActivityDropdown {
  width: 80%; /* Adjust the width of each input field as needed */
  height: 5vh;
  padding: 10px;
  margin-left: 20px;
  color: black;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.expense.theme-blue .ui.active.selection.dropdown .menu .selected.item span {
  color: black;
}

.expense.theme-blue .ui.selection.dropdown .menu > .item span {
  color: black;
}

.expense.theme-blue .productActivityDatePicker {
  flex: 1; /* Distribute available space evenly among the input fields */
  /* margin: 0px 10px 10px 10px; */
  margin: 0 20px 0 0;
  width: fit-content;
}

.expense.theme-blue .product-Activity-table-section {
  padding: 20px;
  width: 188vh;
  margin-left: 100px;
  margin-right: 200px;
  border: 1px solid #ccc;
  height: 70vh;
  background-color: #ffffff;
}

.productActivityTableSection {
  margin: 0 30px 30px 30px;
}

.expense.theme-blue .search-box {
  margin: 0 auto;
  background-color: #ffffff;
  color: #222;
  border-radius: 8px;
  padding: 30px 20px 0 20px;
  max-width: 1000px;
  border-radius: 50px 50px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.expense.theme-blue .search-box input {
  flex: 1; /* Distribute available space evenly among the input fields */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.expense.theme-blue .search-box input:last-child {
  margin-right: 0; /* Remove the margin on the last input field */
}

.expense.theme-blue .loaderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  background-color: #ffffff;
}

.expense.theme-blue .formInput {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  height: fit-content;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
}

.expense.theme-blue .row {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 0; /* Adjust the spacing between rows as needed */
}

.expense.theme-blue .form1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.expense.theme-blue .row input {
  width: 80%; /* Adjust the width of each input field as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.expense.theme-blue .dropdown {
  width: 80%; /* Adjust the width of each input field as needed */
  height: 5vh;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.expense.theme-blue .ui.dropdown .menu .selected.item {
  color: black;
}

.expense.theme-blue .ui.selection.dropdown .menu > .item span {
  color: black;
}

.expense.theme-blue .saleButtons {
  align-items: center !important;
  margin-left: 450px;
}

.expense.theme-blue .saleButtons .button {
  font-size: 17px;
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 5px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.expense.theme-blue .saleButtons .button-back {
  background-color: green;
  color: white;
  width: 120px;
  height: 5vh;
  /* float: left; */
}

.expense.theme-blue .saleButtons .button-add-product {
  font-size: 17px;
  padding: 5px 10px; /* Adjust padding as needed */
  /* float: center; */
  border: none;
  margin-top: 20px;
  background-color: rgb(171, 171, 8);
  margin-left: 20px;
  /* border-radius: 4px; */
  cursor: pointer;
  height: 5vh;
  text-align: center;
}

.expense.theme-blue .purchaseSellBackButton {
  background-color: rgb(171, 171, 8);
  margin-left: 100px;
}

.productActivityTableSection table {
  width: 100%; /* Ensure the table takes up the full width of its container */
  border-collapse: collapse;
}

.productActivityTableSection th {
  background-color: #bec7e7;
  padding: 8px;
  text-align: center;
}

.productActivityTableSection td {
  padding: 8px;
  text-align: center;
}

.expense.theme-blue .contentt-box {
  margin: 0 auto;
  /* background-color: #e2f6e1; */
  color: #222;
  border-radius: 8px;
  padding: 30px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.expense.theme-blue .heading-container {
  display: flex; /* Display h3 and h5 in a row */
  flex-direction: row; /* Align h3 and h5 vertically */
}

.expense.theme-blue .heading-container h3 {
  line-height: 1.3;
  margin: 0;
  color: #ffffff;
  font-size: 26px;
}

.expense.theme-blue .heading-container h5 .total-records {
  background-color: #7883e7; /* Add your desired background color here */
  color: #393939; /* Add your desired text color here */
  padding: 2px 5px; /* Add padding to create spacing around the background color */
  margin-left: 10px;
  border-radius: 4px; /* Optionally, add border radius for rounded corners */
}

.expense.theme-blue .heading-container h5 {
  line-height: 1.5;
  margin: 0;
  /* margin-left: 40px; */
  font-size: 20px;
}

.expense.theme-blue .heading-container h5 .rowCount {
  background-color: white; /* Add your desired background color here */
  color: #222; /* Add your desired text color here */
  padding: 2px 5px; /* Add padding to create spacing around the background color */
  /* margin-left: 10px; */
  border-radius: 4px; /* Optionally, add border radius for rounded corners */
}

.expense.theme-blue .search-Purchase-box {
  margin: 0 auto;
  background-color: #ffffff;
  color: #222;
  border-radius: 8px;
  padding: 30px 10px 0 10px;
  max-width: 1200px;
  border-radius: 50px 50px 0 0;
  /* margin-top: 5px; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}
.expense.theme-blue .datePicker {
  flex: 1; /* Distribute available space evenly among the input fields */
  margin: 10px 10px 10px 10px;
  z-index: 100;
}
