.variationOptionContainer {
  padding: 0.5rem 1rem;
  width: 100%;
  font-family: "Roboto";

  > header {
    @include flex(row, space-between, center, 1rem);

    > button {
      width: max-content;
    }
  }
}

.createVariationContainer {
  padding: 0.5rem 1rem;
  width: 100%;
  font-family: "Roboto";

  > .formContainer {
    width: 100%;
    height: 100%;
    @include flex(unset, center, center, 2rem);

    > form {
      width: 30rem;
      margin-bottom: 1rem;
    }
  }
}
