.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: 15px auto;
}

.sellBuy {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 460px) {
  .form {
    width: 90%;
  }
}
.centerDiv {
  margin: 0 auto;
}
