.Products {
  /* height: 100%; */
  height: 100%;
  padding-top: 10px;
}

.Products.theme-blue {
  background-color: #0b6ab0;
}

.Products.theme-blue .contentt-box {
  margin: 0 auto;
  /* background-color: #e2f6e1; */
  color: #222;
  border-radius: 8px;
  padding: 30px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Products.theme-blue .contentt-box > .excelDiv > button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  max-width: 154px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid rgb(119, 7, 7);
  color: rgb(119, 7, 7);
  justify-content: space-between;
  border-radius: 4px;
}

.Products.theme-blue .contentt-box > .excelDiv > button > span > svg {
  color: rgb(119, 7, 7);
}

.Products.theme-blue .contentt-box h3,
.Products.theme-blue .content-box h5 {
  color: #ffffff;
}

.heading-container {
  display: flex; /* Display h3 and h5 in a row */
  flex-direction: row; /* Align h3 and h5 vertically */
}

.heading-container {
  display: flex; /* Display h3 and h5 in a row */
  flex-direction: row; /* Align h3 and h5 vertically */
}

.heading-container h3 {
  line-height: 1.3;
  margin: 0;
  font-size: 26px;
}

.heading-container h5 {
  line-height: 1.5;
  margin: 0;
  /* margin-left: 40px; */
  font-size: 20px;
}

.Products.theme-blue .heading-container h5 .total-records {
  background-color: #7883e7; /* Add your desired background color here */
  color: #393939; /* Add your desired text color here */
  padding: 2px 5px; /* Add padding to create spacing around the background color */
  margin-left: 10px;
  border-radius: 4px; /* Optionally, add border radius for rounded corners */
}

.Products.theme-blue .heading-container h5 .rowCount {
  background-color: white; /* Add your desired background color here */
  color: #222; /* Add your desired text color here */
  padding: 2px 5px; /* Add padding to create spacing around the background color */
  border-radius: 4px; /* Optionally, add border radius for rounded corners */
}

.download-table-xls-button {
  background-color: none;
  color: #e06f6f;
  padding: 10px 20px; /* Adjust the padding as needed */
  border: 2px solid #d52828;
  border-radius: 4px; /* Optionally, add border radius for rounded corners */
  cursor: pointer;
  height: fit-content;
  transition: background-color 0.3s, color 0.3s;
}
.download-table-xls-button:hover {
  background-color: #efc9c9;
  color: #f1b1b1;
}
.Products.theme-blue .Product-search-box {
  margin: 0 auto;
  background-color: #ffffff;
  color: #222;
  border-radius: 8px;
  padding: 30px 20px 0 20px;
  max-width: 1000px;
  border-radius: 50px 50px 0 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 140vh;
  margin-left: 350px;
  margin-bottom: 10px;
}

.Products.theme-blue .Product-search-box input {
  flex: 1; /* Distribute available space evenly among the input fields */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Products.theme-blue .Product-search-box input:last-child {
  margin-right: 0; /* Remove the margin on the last input field */
}

.Products.theme-blue .formInput {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  height: fit-content;
  margin-left: 200px;
  margin-right: 200px;
  /* margin-top: 150px; */
}

.Products.theme-blue .row {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 0; /* Adjust the spacing between rows as needed */
}

.Products.theme-blue .ui.dropdown .menu .item span {
  color: black;
}
.Products.theme-blue .Product-form-table-container {
  max-width: 1100px;
  margin-left: 40px;
}

.Product-form-table-container table {
  width: 100%; /* Ensure the table takes up the full width of its container */
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Product-form-table-container th {
  background-color: #bec7e7;
  padding: 0px;
  text-align: center;
}

.Products.theme-blue .Product-table-container {
  max-width: 1000px;
  margin-left: 350px;
}


/* Additional styles for the table inside .table-container */
.Product-table-container table {
  width: 100%; /* Ensure the table takes up the full width of its container */
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Product-table-container th {
  background-color: #bec7e7;
  padding: 0px;
  text-align: center;
}

.Product-table-container td {
  padding: 0px;
  text-align: center;
}

.Products.theme-blue .row input {
  width: 80%; /* Adjust the width of each input field as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.Products.theme-blue .barcode-container {
  align-items: center;
  margin-left: 450px;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select > svg {
  color: #ccc;
  display: none;
}
.Products.theme-blue .form1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Products.theme-blue .dropdownform1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Products.theme-blue .dropdown {
  width: 80%; /* Adjust the width of each input field as needed */
  height: 5vh;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  /* Add other input field styles here */
}

.Products.theme-blue .productButtons {
  align-items: center !important;
  margin-left: 450px;
}

.Products.theme-blue .productButtons .button {
  font-size: 17px;
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 5px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.Products.theme-blue .productButtons .button-back {
  background-color: green;
  width: 120px;
  height: 5vh;
  /* float: left; */
}

.Products.theme-blue .productButtons .button-back:hover {
  background-color: rgb(1, 76, 1);
  /* float: left; */
}

.Products.theme-blue .productButtons .button-back:focus {
  background-color: rgb(1, 76, 1);
  /* float: left; */
}

.Products.theme-blue .productButtons .button-add-product {
  font-size: 17px;
  padding: 5px 10px; /* Adjust padding as needed */
  border: none;
  background-color: rgb(171, 171, 8);
  margin-left: 20px;
  cursor: pointer;
  height: 5vh;
  text-align: center;
}

.Products.theme-blue .productButtons .button-add-product:hover {
  background-color: rgb(206, 206, 12);
}

.Products.theme-blue .productButtons .button-add-product:focus {
  background-color: rgb(206, 206, 12);
}

@media screen and (min-width: 1200px) and (max-width: 1430px) {
  .Products.theme-blue .Product-search-box {
    margin: 0 auto;
    background-color: #ffffff;
    color: #222;
    border-radius: 8px;
    padding: 30px 20px 0 20px;
    max-width: 1000px;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1000px;
    margin-left: 180px;
    margin-bottom: 10px;
  }
  .Products.theme-blue .Product-table-container {
    max-width: 1000px;
    margin-left: 180px;
  }
}
