.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.input-section {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input-section > label {
  margin: 1vmax;
  font-size: 1.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
}
.input-section > input {
  width: 200px;
  background-color: #e9ddc0;

  border-radius: 10px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  font-size: 1vmax;
  color: #474747;
  text-align: center;
  padding: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.shadow-box {
  padding: 2vmax;
  margin: 2vmax;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(219, 199, 150, 1) 0%,
    rgba(195, 163, 80, 1) 100%
  );
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 20px 4px;
  width: 30%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 20px 4px;
  border-radius: 20px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button {
  width: 100%;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Noto Nastaliq Urdu";
  font-size: 1vmax;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  font-family: "Roboto";

  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(219, 199, 150, 1) 0%,
    rgba(195, 163, 80, 1) 100%
  );
  outline: 0;
}

.button:hover {
  outline: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(195, 163, 80, 1) 0%,
    rgba(219, 199, 150, 1) 100%
  );
  color: white;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}
