.css-46bh2p-MuiCardContent-root {
  padding: 0px !important;
}

.css-sx35bq-MuiButtonBase-root-MuiButton-root {
  padding: 0;
}

.css-ie52t9-MuiCardContent-root {
  padding: 0 !important;
  margin-top: 0 !important;
}
.css-9zf84o-MuiCardContent-root {
  padding: 0 !important;
  margin-top: 0 !important;
}

.css-114w3v1 {
  min-width: 0px !important;
}
.css-exw9da {
  min-width: 0px !important;
}
